@model TripApplication.Models.TripDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this trip?</h2>
<a href="/trip/List">Cancel</a>
<h2>@Model.TripName</h2>
<div>Country: @Model.TripCountry </div>
<div>Date: @Model.TripDate</div>
<div>Notes: @Model.TripNotes</div>
<form action="/Trip/Delete/@Model.TripID" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>

