@model TripApplication.Models.TripDto

@{
    ViewBag.Title = "View";
}

<a href="/trip/list">Go back to List</a>
<a href="/trip/edit">Edit</a>
<a href="/trip/delete">Delete</a>
<h2>@Model.TripName</h2>
<div>@Model.TripCountry</div>
<div>@Model.TripDate</div>
<div>@Model.TripNotes.NoteName</div>
