@model TripApplication.Models.TripDto

@{
    ViewBag.Title = "View";
}

<div><a href="/trip/list">Go back to List</a></div>
<div><a href="/trip/edit/@Model.TripID">Edit</a></div>
<div><a href="/trip/deleteconfirm/@Model.TripID">Delete</a></div>
<h2>@Model.TripName</h2>
<div>@Model.TripCountry</div>
<div>@Model.TripDate</div>
<div>@Model.TripNotes.NoteName</div>
