@model IEnumerable<TripApplication.Models.Trip>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<a href="/trip/new">New Trip</a>

@foreach(var trip in Model)
{
<h2><a href="/trip/details/@trip.TripID"@trip.TripName</h2>
<div>@trip.TripName</div>
}
